.orderDetail {
  h4 {
    margin-bottom: 10px;
    font-weight: 700;
  }

  .ant-row {
    margin-bottom: 15px;
  }

  .overFlowtext {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  #tradeItemsTable .ant-table-thead > tr:first-child > th:last-child {
    text-align: left;
  }
}

.headBox {
  padding: 15px;
  background-color: #fafafa;
  height: 180px;

  h4 {
    margin-bottom: 5px;
  }

  p {
    margin-bottom: 2px;
  }
}
